/* Main Rules */

body {
    height: 4000px;
}

.container {
    width: 1170px;
    margin: auto;
}

.clearfix {
    clear: both;
}

/* Navbar */
.header .slider {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    height: 600px;
}

.header .slider .intro {
    height: 600px;
    padding-top: 200px;
    text-align: center;
    color: #fff;
}

.header .slider .intro h2 {
    margin: 0 auto;
    font-size: 50px;
    width: 600px;
    border-top: 4px solid #FFF;
    border-bottom: 3px solid #FFF;
    padding: 5px 0;
}

.header .slider .intro button {
    background: none;
    color: #FFF;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #FFF;
    padding: 10px 25px;
    cursor: pointer;
}

.header .navbar {
    background-color: #252f31;
    color: #FFF;
    overflow: auto;
}

.header .navbar h2 {
    float: left;
}

.header .navbar h2 a,
.header .navbar ul li a {
    color: #FFF;
    text-decoration: none;
}

.header .navbar h2 span {
    color: #16c76c;
}

.header .navbar ul {
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    float: right;
}

.header .navbar ul li {
    float: left;
    padding: 10px;
}

.header .navbar ul li a:hover,
.header .navbar ul li.active a {
    color: #16c76c;
}

/*=========Features==========*/

.features {
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 50px;
}

.features .feat {
    float: left;
    width: 33.33333333333%;
    height: 150px;
}

.features .feat h2 {
    color: #555;
}

.features .feat p {
    line-height: 1.6;
    color: #888;
}

/*============ About me ============*/

.about-me {
    background-color: #f2f2f2;
    overflow: hidden;
}

.about-me .image {
    float: left;
    width: 40%;
}

.about-me .image img {
    width: 100%;
}

.about-me .info {
    float: left;
    width: 60%;
}

.about-me .info .fields {
    overflow: hidden;
    margin: 20px;
}

.about-me .info .fields > div {
    float: left;
    width: 50%;
    min-height: 100px;
}

/*======= My Skills =========*/

.my-skills {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}

.my-skills .skills,
.my-skills .progress {
    float: left;
    width: 50%;
}

/*============ Resume ============*/
.resume {
    background: #f2f2f2;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

/*======= My Education =========*/

.my-education {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}

.my-education .main,
.my-education .exp {
    float: left;
    width: 50%;
}

/*============ Resume ============*/
.testimonials {
    background: #f2f2f2;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

/*------------------Portofolio=============*/
.portofolio {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.portofolio .our-work {
    overflow: hidden;
}

.portofolio .our-work > div {
    float: left;
    width: 33.3333%;
    margin-bottom: 15px;
}

.portofolio .our-work > div img {
    width: 92%;
    margin: 10px;
}

/*============= Contact me =================*/

.contact-me {
    background-color: #252f31;
    overflow: hidden;
}

.contact-me .info,
.contact-me .form {
    float: left;
    width: 50%;
}

.contact-me .info h2 {
    color: #FFF;
}

.contact-me .info p {
    color: #676c6f;
}

/*=============== Footer =============*/

.footer {
    background-color: #191e22;
    color: #676c6f;
    padding: 20px 0;
    text-align: center;
}